<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-home"></i> FreeBlog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if app.user %}
          <li class="sign-up"><a href="{{path('fos_user_profile_show')}}">{{app.user}}</a></li>
          <li class="sign-up"><a href="{{path('fos_user_security_logout')}}"><i class='fa fa-cut'></i></a></li>
        {% else %}
          <li class="sign-in"><a href="{{path('fos_user_security_login')}}">Sign in</a></li>
          <li class="sign-up"><a href="{{path('fos_user_registration_register')}}">Sign up</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>